.first {
	color:white;
	background:black;
}
body {
	background-color:rgb(135, 206, 235);
}
.texta {
	color:red;
}
li:nth-child(even) {
	
	background:#70808F;
	padding:5px;
	width:60%
} 
li:nth-of-type(3) {
	background:pink;
	padding:5px;
	width:60%
}
li:first-child {
	background:white;
	padding:5px;
	width:60%
}
li:last-child {
	background:white;
	padding:5px;
	width:60%
}
