:root {background-color:rgb(135, 206, 235);}
.first {
	color:white;
	background:black;
}
p:last-child {
	color:red;
}
li:nth-child(even) {
	
	background-color:#6F8090;
	padding:5px;
	width:60%
} 
li:nth-of-type(3) {
	background:pink;
	padding:5px;
	width:60%
}
li:first-child {
	background:rgb(255, 255, 255);
	padding:5px;
	width:60%
}
li:last-child {
	background:rgb(255, 255, 255);
	padding:5px;
	width:60%
}

